.Contact {
  margin-bottom: 10px;
}

.span {
  margin-right: 5px;
  color: darkblue;
  display: inline-block;
  width: 200px;
}

.span:first-child {
  font-weight: 500;
}

.button {
  margin-left: 10%;
  padding: 1px 10px;
  border-radius: 10px;
  border-color: red;
  color: red;
  font-weight: 500;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover,
.button:focus {
  color: red;
  background-color: darkblue;
  border-color: darkblue;
  box-shadow: 5px 5px 5px -5px rgba(1, 61, 178, 0.6);
  transform: scale(1.1);
}
